<% include ../partials/header %>

<form class="" action="/sign-up" method="post">
  <input type="text" name="name" placeholder="your name">
  <input type="email" name="email" placeholder="your email">
  <input type="password" name="password" placeholder="your password">
  <button type="submit" name="button">Sign Up</button>
</form>
<%= error %>

<% include ../partials/footer %>
