<% include ../partials/header %>




  <div id="user" data=<%=id %>>
    <input type="text" name="name" id="name" value=<%= name %>>
    <input type="text" name="email" id="email" value=<%= email %>>

  </div>





<% include ../partials/footer %>
